.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(150 150 150 / 40%);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-launch-btn {
  width: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #666;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-start;
}
.modal-launch-btn:focus,
.modal-launch-btn:focus-within,
.modal-launch-btn:focus-visible {
  outline: 0.1rem solid #82bcf9;
  outline-offset: 0.05rem;
}
.modal-container {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeIn 0.2s ease-out;
  gap: 1rem;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
}
.modal-body {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}
.modal-footer {
  width: 100%;
  flex: 0 1;
}
.modal-close {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 0.9rem;
  transition: color 0.2s;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.modal-close:hover {
  color: #000;
  background: #c5c5c5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
