.chat-screen {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.chat-modal {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 400px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  box-shadow: 0 4px 12px black;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  z-index: 9999;
}
.chat-body {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scrollbar-width: thin;
}
.chat-item {
  padding: 6px 10px;
  border-radius: 5px;
  word-wrap: break-word;
  max-width: 75%;
  font-size: 12px;
  text-align: left;
}
.sender-item {
  background: #e5e5e5;
  color: black;
  align-self: flex-end;
}
.bot-item {
  background: #e5e5e5;
  color: black;
  align-self: flex-start;
}
.input-conatiner {
  width: 100%;
  display: flex;
}
.chat-field {
  border: 1px solid #000;
  font-size: 12px;
  outline: none;
  width: 100%;
  padding: 10px;
  bottom: 0;
  right: 0;
  border-radius: 8px;
}
.chat-field:focus-within,
.chat-field:focus-visible,
.chat-field:focus {
  outline: 0.5px solid #000fff;
  outline-offset: 1px;
}
