.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}

.element-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.tab-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 100%;
}
.tab-item {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1;
  cursor: pointer;
  color: #666;
  opacity: 0.7;
  padding: 0.25rem 0.5rem;
}
.tab-item[aria-selected="false"]:hover,
.tab-item:not([aria-selected="true"]):hover {
  color: #1686ff;
  border-bottom: 2px solid #1686ff;
}
.tab-item[aria-selected="true"] {
  font-weight: 600;
  color: #007bff;
  border-bottom: 2px solid #007bff;
  opacity: 1;
}
.tab-item-content {
  padding: 0.25rem;
  font-size: 0.85rem;
  font-weight: bold;
}
