.traffic-light-container-xl {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.traffic-light-container {
  background: #222;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.light {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  opacity: 0.2;
  margin: auto;
  font-size: 26px;
  font-weight: bold;
}
.red {
  background: red;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.yellow {
  background: rgb(255, 196, 0);
  color: #333;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.green {
  background: green;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.on {
  opacity: 1;
  box-shadow: 0 0 8px 2px #fff;
}
